Repository CSUMB-SCD-instructors/CST463, changes with the labels that .github/labeler.yml gives for each.
All labels: student-visible, safe-now

.github/labeler.yml:

student-visible:
  - changed-files:
      - any-glob-to-any-file: ["programming-assignments/**", "labs/**"]
safe-now:
  - changed-files:
      - any-glob-to-any-file: ["demos/**", "helpers/**", "scripts/**"]

Adding in completed code
  programming-assignments/PA3/student_code.py
  programming-assignments/PA3/tests.py
  programming-assignments/PA3/utils.py
Labels: student-visible

Delete programming-assignments/PA2/todo.md
  programming-assignments/PA2/todo.md
Labels: student-visible

Updating points to match 100
  programming-assignments/PA3/scoring.yaml
  programming-assignments/PA3/tests.py
Labels: student-visible

noop for refresh
  syllabus.md
Labels: none

Updating studentignore to prevent todos from being uploaded
  .studentignore
Labels: none

Complete PA3: Backpropagation & Neural Networks
  programming-assignments/PA3/README.md
  programming-assignments/PA3/peer_review_rubric.md
  programming-assignments/PA3/todo.md
  programming-assignments/PA3/visualization_analysis.ipynb
Labels: student-visible

Redacting student code
  programming-assignments/PA3/student_code.py
Labels: student-visible

Published to students: Sun Oct 5 23:02:22 PDT 2025
  programming-assignments/PA3/README.md
  programming-assignments/PA3/peer_review_rubric.md
  programming-assignments/PA3/scoring.yaml
  programming-assignments/PA3/student_code.py
  programming-assignments/PA3/tests.py
  programming-assignments/PA3/utils.py
  programming-assignments/PA3/visualization_analysis.ipynb
  syllabus.md
Labels: student-visible

Updates for demo on tf
  .python-version
  demos/demo-tensorflow/demo-tf.ipynb
  pyproject.toml
  uv.lock
Labels: safe-now

Published to students: Mon Oct 6 09:58:52 PDT 2025
  .python-version
  demos/demo-tensorflow/demo-tf.ipynb
  pyproject.toml
  uv.lock
Labels: safe-now

Adding in some more demo code
  demos/__init__.py
  demos/common.py
  demos/demo-tensorflow/demo-tf.ipynb
  demos/week07/activation_funcs.ipynb
  demos/week07/overfitting.ipynb
  demos/week07/vanishing.ipynb
Labels: safe-now

Published to students: Wed Oct 8 09:53:05 PDT 2025
  demos/__init__.py
  demos/common.py
  demos/demo-tensorflow/demo-tf.ipynb
  demos/week07/activation_funcs.ipynb
  demos/week07/overfitting.ipynb
  demos/week07/vanishing.ipynb
Labels: safe-now

Adding in some more demo code
  demos/demo-tensorflow/feedforward-keras-classification.ipynb
  demos/demo-tensorflow/feedforward-keras-regression.ipynb
  demos/week07/activation_funcs.ipynb
  demos/week07/overfitting.ipynb
  demos/week07/vanishing.ipynb
  demos/week08/functional-callbacks.ipynb
Labels: safe-now

Updating git ignore to ignore checkpoint files
  .gitignore
Labels: none

Published to students: Mon Oct 13 09:19:49 PDT 2025
  .gitignore
  demos/demo-tensorflow/feedforward-keras-classification.ipynb
  demos/demo-tensorflow/feedforward-keras-regression.ipynb
  demos/week07/activation_funcs.ipynb
  demos/week07/overfitting.ipynb
  demos/week07/vanishing.ipynb
  demos/week08/functional-callbacks.ipynb
Labels: safe-now

Adding in an example file for convolution
  demos/week08/cnn_activation_playground_9x9.ipynb
Labels: safe-now

Updates to make students make more choices when doing visualization
  programming-assignments/PA4/README.md
  programming-assignments/PA4/peer_review_rubric.md
  programming-assignments/PA4/scoring.yaml
  programming-assignments/PA4/student_code.py
  programming-assignments/PA4/tests.py
  programming-assignments/PA4/utils.py
  programming-assignments/PA4/visualization_analysis.ipynb
Labels: student-visible

Adding seaborn. Ugh.
  pyproject.toml
  uv.lock
Labels: none

Adding in golden code for PA4
  programming-assignments/PA4/student_code.py
  programming-assignments/PA4/tests.py
Labels: student-visible

Adding in demonstrations from class
  demos/week08/cnn_activation_playground_9x9.ipynb
  demos/week08/functional-callbacks.ipynb
Labels: safe-now

Updating hints for students to be more clear about what they want
  programming-assignments/PA4/student_code.py
Labels: student-visible

Adding in redacted student code
  programming-assignments/PA4/student_code.py
Labels: student-visible

Published to students: Sun Oct 19 11:28:21 PDT 2025
  demos/week08/cnn_activation_playground_9x9.ipynb
  demos/week08/functional-callbacks.ipynb
  programming-assignments/PA4/README.md
  programming-assignments/PA4/peer_review_rubric.md
  programming-assignments/PA4/scoring.yaml
  programming-assignments/PA4/student_code.py
  programming-assignments/PA4/tests.py
  programming-assignments/PA4/utils.py
  programming-assignments/PA4/visualization_analysis.ipynb
  pyproject.toml
  uv.lock
Labels: student-visible, safe-now

Adding in explanability demo
  demos/cnn-visualization/cnn_explainability_demo.ipynb
Labels: safe-now

Adding in the cnn explanation code, and then the trained weights
  demos/cnn-visualization/cnn_explainability_demo.ipynb
  demos/cnn-visualization/saved_models/mnist_simple_cnn.h5
Labels: safe-now

Tweaking to make more clear
  demos/cnn-visualization/cnn_explainability_demo.ipynb
  demos/cnn-visualization/saved_models/mnist_simple_cnn.h5
Labels: safe-now

Adding readme
  demos/cnn-visualization/README.md
Labels: safe-now

Published to students: Wed Oct 29 10:02:33 PDT 2025
  demos/cnn-visualization/README.md
  demos/cnn-visualization/cnn_explainability_demo.ipynb
  demos/cnn-visualization/saved_models/mnist_simple_cnn.h5
Labels: safe-now

Adding in some baseline PA5 code -- have yet to check it out.
  programming-assignments/PA5/README.md
  programming-assignments/PA5/peer_review_rubric.md
  programming-assignments/PA5/requirements.txt
  programming-assignments/PA5/student_code.py
  programming-assignments/PA5/tests.py
  programming-assignments/PA5/utils.py
Labels: student-visible

Updates to the PA5 base code to make it better in terms of less proscriptive and more clear
  programming-assignments/PA5/student_code.py
Labels: student-visible

Adding in visualization analysis component
  programming-assignments/PA5/visualization_analysis.ipynb
Labels: student-visible

Adding in solution code
  programming-assignments/PA5/student_code.py
  programming-assignments/PA5/tests.py
Labels: student-visible

Removing code that was causing a warning in the tests
  programming-assignments/PA5/student_code.py
  programming-assignments/PA5/tests.py
Labels: student-visible

Fixing the student_code.py to have the correct docstrings in it
  programming-assignments/PA5/student_code.py
Labels: student-visible

Redacting student_code.py
  programming-assignments/PA5/student_code.py
Labels: student-visible

Adding in demos
  demos/cnn-visualization/cnn_explainability_demo.ipynb
  demos/cnn-visualization/saved_models/fashion_mnist_simple_cnn.h5
  demos/cnn-visualization/saved_models/mnist_simple_cnn.h5
  demos/time-series/1d-cnns.ipynb
  demos/time-series/rnns/rnn_time_series_classification_example.ipynb
  demos/time-series/rnns/rnns-in-keras.ipynb
  demos/time-series/rnns/rnns.ipynb
Labels: safe-now

fixing it so it doesn't specify matplotlib because duh.
  programming-assignments/PA4/peer_review_rubric.md
Labels: student-visible

Adding in final_project outline
  final_project/README.md
  final_project/project_ideas.md
  final_project/proposal-template.md
  final_project/proposal.md
  final_project/update-template.md
  final_project/update.md
Labels: none

Published to students: Sun Nov 16 22:01:16 PST 2025
  programming-assignments/PA5/README.md
  programming-assignments/PA5/peer_review_rubric.md
  programming-assignments/PA5/requirements.txt
  programming-assignments/PA5/student_code.py
  programming-assignments/PA5/tests.py
  programming-assignments/PA5/utils.py
  programming-assignments/PA5/visualization_analysis.ipynb
Labels: student-visible

Adding in more detailed information
  final_project/README.md
  final_project/final_submission.md
  final_project/project_ideas.md
  final_project/proposal-template.md
  final_project/proposal.md
  final_project/update-template.md
  final_project/update.md
Labels: none
