Repository CSUMB-SCD-instructors/CST463, changes with the labels that .github/labeler.yml gives for each.
All labels: student-visible, safe-now

.github/labeler.yml:

student-visible:
  - changed-files:
      - any-glob-to-any-file: ["programming-assignments/**", "labs/**"]
safe-now:
  - changed-files:
      - any-glob-to-any-file: ["demos/**", "helpers/**", "scripts/**"]

Speeding up a bit and increasing number of iterations
  demos/demo-gradient_descent/gradient_descent_demo.py
Labels: safe-now

Adding in learning rate options
  demos/demo-gradient_descent/gradient_descent_demo.py
Labels: safe-now

Adding in stochastic
  demos/demo-gradient_descent/gradient_descent_demo.py
Labels: safe-now

Cleaning up a bit
  demos/demo-gradient_descent/gradient_descent_demo.py
Labels: safe-now

Adding in to accept a number of samples to use, too
  demos/demo-gradient_descent/gradient_descent_demo.py
Labels: safe-now

Adding in 3d plot
  demos/demo-gradient_descent/gradient_descent_demo.py
Labels: safe-now

Making it so the 3d plot always works and increasing variability
  demos/demo-gradient_descent/gradient_descent_demo.py
Labels: safe-now

Published to students: Wed Sep 10 16:27:36 PDT 2025
  demos/demo-gradient_descent/gradient_descent_demo.py
Labels: safe-now

Making it command line friendly
  demos/demo-gradient_descent/gradient_descent_demo.py
Labels: safe-now

Adding in a headless mode that allows us to compare SGD
  demos/demo-gradient_descent/gradient_descent_demo.py
Labels: safe-now

Published to students: Thu Sep 11 08:44:15 PDT 2025
  demos/demo-gradient_descent/gradient_descent_demo.py
Labels: safe-now

Removing dockerfile that was superfluous
  docker/Dockerfile
Labels: none

Updating sullabus with correct hours
  syllabus.md
Labels: none

Adding in a claude-generated grader that conforms to the template grader
  scripts/grader.py
Labels: safe-now

Published to students: Fri Sep 12 09:50:37 PDT 2025
  .envrc
  .github/workflows/sync-syllabus.yml
  .python-version
  syllabus.md
Labels: none

Trying something...
  .studentignore
Labels: none

Allowing scripts to be published so we can use it for grading. We can add a sensitive subdir if necessary
  .studentignore
Labels: none

Published to students: Fri Sep 12 10:09:10 PDT 2025
  scripts/README-grader.md
  scripts/README-publish_to_student.md
  scripts/grader.py
  scripts/publish_to_students.sh
Labels: safe-now

Redacting
  programming-assignments/PA2/student_code.py
Labels: student-visible

Published to students: Sat Sep 13 12:14:54 PDT 2025
  programming-assignments/PA2/canvas_rubric.csv
  programming-assignments/PA2/peer_review_rubric.md
  programming-assignments/PA2/scoring.yaml
  programming-assignments/PA2/student_code.py
  programming-assignments/PA2/tests.py
  programming-assignments/PA2/todo.md
  programming-assignments/PA2/visualization_analysis.ipynb
Labels: student-visible

Delete programming-assignments/PA2/todo.md
  programming-assignments/PA2/todo.md
Labels: student-visible

Delete programming-assignments/PA2/canvas_rubric.csv
  programming-assignments/PA2/canvas_rubric.csv
Labels: student-visible

Delete programming-assignments/PA2 directory
  programming-assignments/PA2/peer_review_rubric.md
  programming-assignments/PA2/scoring.yaml
  programming-assignments/PA2/student_code.py
  programming-assignments/PA2/tests.py
  programming-assignments/PA2/visualization_analysis.ipynb
Labels: student-visible

Removing files that shouldn't go to students
  programming-assignments/PA2/canvas_rubric.csv
  programming-assignments/PA2/peer_review_rubric.md
  programming-assignments/PA2/todo.md
Labels: student-visible

Published to students: Sat Sep 13 12:17:37 PDT 2025
  programming-assignments/PA2/scoring.yaml
  programming-assignments/PA2/student_code.py
  programming-assignments/PA2/tests.py
  programming-assignments/PA2/visualization_analysis.ipynb
Labels: student-visible

Adding in guidance on making a rubric
  CLAUDE.md
Labels: none

Adding in rubrics
  programming-assignments/PA2/canvas_rubric.csv
  programming-assignments/PA2/peer_review_rubric.md
Labels: student-visible

Adding in a fake reserve test. Will update later
  programming-assignments/PA1/tests-reserved.py
Labels: student-visible

Removing a file I only added to test with
  programming-assignments/PA1/tests-reserved.py
Labels: student-visible

Published to students: Sun Sep 14 19:48:13 PDT 2025
  programming-assignments/PA2/canvas_rubric.csv
  programming-assignments/PA2/peer_review_rubric.md
Labels: student-visible

Removing old testing code
  programming-assignments/run_tests.py
Labels: student-visible

Adding in a new (old) lab
  labs/lab06-multilogisticregression/README.md
Labels: student-visible

Published to students: Mon Sep 15 08:42:53 PDT 2025
  labs/lab06-multilogisticregression/README.md
Labels: student-visible

Removing minimum syllabus
  syllabus.minimum.md
Labels: none

Noop change to the syllabus
  syllabus.md
Labels: none

Forcing an update
  syllabus.md
Labels: none

Adding in labs
  labs/lab09-neuralnetworks/README.md
  labs/lab09-neuralnetworks/heart.csv
  labs/lab09-neuralnetworks/solution.py
  labs/lab10-backprop1/README.md
  labs/lab10-backprop1/backprop-logistic.md
  labs/lab10-backprop1/backprop.md
  labs/lab11-backprop2/README.md
  labs/lab11-backprop2/backprop-for-linear-regression.md
Labels: student-visible

Published to students: Mon Sep 22 09:50:29 PDT 2025
  .github/workflows/sync-syllabus.yml
  labs/lab09-neuralnetworks/README.md
  labs/lab09-neuralnetworks/heart.csv
  labs/lab09-neuralnetworks/solution.py
  labs/lab10-backprop1/README.md
  labs/lab10-backprop1/backprop-logistic.md
  labs/lab10-backprop1/backprop.md
  labs/lab11-backprop2/README.md
  labs/lab11-backprop2/backprop-for-linear-regression.md
  scripts/grader.py
  scripts/publish_to_students.sh
  syllabus.md
Labels: student-visible, safe-now

Adding in skeletons of functions for students
  programming-assignments/PA3/student_code.py
Labels: student-visible

Adding in unit tests
  programming-assignments/PA3/tests.py
Labels: student-visible
